header {
	text-align: center;
}


#logo {
	margin-top: 5px;
}

footer div {
	margin: 0px;
	text-align: center;
}


footer div a {
	font-size: 0.8em;
}

input {
	margin-bottom: 30px;
}

#logo {
	margin-top: 5px;
}

#weather {
	text-align: center;
	margin: 0px;
	padding: 0px;
}


#aboutGrid div, #mapTitle {
	text-align: center;
}

#mapContainer { 
	position:relative; 
	text-align:center;
}

#map_canvas { 
	margin:0px auto; 
	display:inline-block;
}

.mainPanel {
	text-align: center;
	background: #0071bc;
	color: #0071bc;
}

.ui-icon-about:after {
	background-image: url("images/hicksal.png");
	background-size: 22px 22px;
}

.ui-icon-sheridan:after {
	background-image: url("images/sheridan.png");
	background-size: 22px 22px;

}

.ui-icon-nhl:after {
	background-image: url("images/nhl.png");
	background-size: 22px 22px;
}

.ui-icon-wind:after {
	background-image: url("images/wind.png");
	background-size: 22px 22px;
}

.ui-icon-atmosphere:after {
	background-image: url("images/atmosphere.png");
	background-size: 22px 22px;
}

.ui-icon-astronomy:after {
	background-image: url("images/astronomy.png");
	background-size: 22px 22px;
}

